body{
    margin: 0 auto;
    background: rgb(255, 255, 255);
    min-height: 100vh;
    max-width: 75vw;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    font-family: 'Montserrat','Courier New', Courier, monospace;
}

h2 {
    margin: 0;
}
title{
   
}

/* Header section */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-style{
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link-style:hover{
    color: rgb(179, 1, 179);
}

#line{
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
}

.body-container{

}

.shelter-img{
    width: 100%;
    object-fit: contain;
    margin-top: 1rem;
}

/* About section */
#About{
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
    
}

.about-text{
    flex: 1;
    padding-right: 3rem;
}

.image-column{
    flex-direction: column;
}
.about-img {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.about-shelter-img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 30%;
}

/* Important section */
.Important{
    display: flex;
    align-items: flex-start;
}

.imp-text{
    
}

/* Data Section */
#Data{

}
.graph-container{
    display: flex;
    flex-direction: row;
}

.line-data{
    
}

.graph-text{
    padding: 1rem;
    padding-bottom: 4rem
}
.graph-img{
    height: 50%;
    width: 70%;
    object-fit: fill;
    align-items: center;
}

.graph-img:hover{
    transform: scale(2);
}

/* Organization Section */
.org-link{
    color: black;
}

.org-link:hover{
    color: rgb(189, 0, 189);
}


.dropbtn {
    background-color: #59add4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e758f;
  }